body {
  margin: 0;
  padding: 0;

  width: 300px;
  color: #fff;
  background-color: #000;

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: .96rem;
  font-weight: normal;
  
  padding: .4rem;
  margin: 0;
}

table {
  width: 100%;

  border-collapse: collapse;
  border-top: 1px solid #2b2b2e;

  font-size: .8rem;
  
  padding: .4rem;
  margin: 0;
}

th, td {
  text-align: left;
  padding: .3rem .4rem;
}

tr:nth-child(even) {
  background-color: #2b2b2e;
}